---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}


<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title" style="font-size: 35px;rger;">{{ page.title }}</h1>
    <br>
    
    <style>.list__item{width: 100%;
}
.article{padding-top:0;}
      .pubtitle{
        font-family: 'Lato', sans-serif;
        text-align: center ; 
          font-size: 14pt;
          line-height: 45px;
      }
      .authors {
          font-size: 11pt;
      }
      .pubvenue {font-size: 11pt;
      }
      .publinks{line-height: 45px; font-size:14pt;}
      ul.pub {
        list-style-type: none ;
        font-size: 12px ;
        margin: 5px 0px 5px 5px ;
        padding: 0px 0px 0px 0px ; 
      }
      ul.pub li.conf {
        /* Decrement the counter by 1.*/  counter-increment: confs -1 ; /* -- */
        align-items: flex-start ;
        display: flex ;
        margin: 15px 0px 15px 0px ;
        padding: 0px 0px 0px 0px ; 
      }
      ul.pub li.conf::before {
        font-weight: bold;
        content: "C"Counter( confs )"" ; /* -- */ 
        background-color: rgba(105, 199, 245, 0.95);
        border-radius: 3px 3px 3px 3px ;
        box-sizing: border-box ;
        margin-right: 10px ;
        margin-top:12px;
        font-family: "Calibri";
        padding: 1px 5px 1px 7px ;
        text-align: center ; 
      }
      ul.pub li.journal {
        /* Decrement the counter by 1.*/  counter-increment: journals -1 ; /* -- */
        align-items: flex-start ;
        display: flex ;
        margin: 15px 0px 15px 0px ;
        padding: 0px 0px 0px 0px ; 
      }
      ul.pub li.journal::before {
        font-family: "Calibri";
        font-weight: bold;
        content: "J"Counter( journals )"" ; /* -- */ 
        background-color: #8de28c;
        border-radius: 3px 3px 3px 3px ;
        box-sizing: border-box ;
        margin-right: 10px ;
        margin-top:12px;
 
        padding: 1px 5px 1px 7px ;
        text-align: center ; 
      }
      
      ul.pub li.working {
        /* Decrement the counter by 1.*/  counter-increment: workings -1 ; /* -- */
        align-items: flex-start ;
        display: flex ;
        margin: 15px 0px 15px 0px ;
        padding: 0px 0px 0px 0px ; 
      }
      
       ul.pub li.working::before {
        font-family: "Calibri";
        font-weight: bold;
        content: "W"Counter( workings )"" ; /* -- */ 
        background-color: #fad48b;
        border-radius: 3px 3px 3px 3px ;
        box-sizing: border-box ;
        margin-right: 10px ;
        margin-top:12px;
 
        padding: 1px 5px 1px 7px ;
        text-align: center ; 
      }

</style>
        
    {% assign confcount = 1 %}
    {% assign jcount = 1 %}
        {% assign wcount = 1 %}
    {% for collection in site.collections %}
{% for post in collection.docs %}
    {% if post.type == "conf" %}
    {% capture confcount %}{{ confcount | plus:1 }}{% endcapture %}
    {% endif %}
    {% if post.type == "journal" %}
    {% capture jcount %}{{ jcount | plus:1 }}{% endcapture %}
    {% endif %}
        {% if post.type == "working" %}
    {% capture wcount %}{{ wcount | plus:1 }}{% endcapture %}
    {% endif %}
{% endfor %}
    {% endfor %}
    
    <ul class="pub" style="counter-reset: confs {{ confcount }} journals {{ jcount }} workings {{ wcount }}">
    {% endunless %}
    {{ content }}
      </ul>
  </div>
</div>
