---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title" style="font-size: 35px;rger;">{{ page.title }}</h1>
    <br><br>
    <style> ul.pub { list-style-type: none ; font-size: 16px ; margin: 5px 0px 5px 5px ; padding: 0px 0px 0px 0px ; }
      ul.pub li { /* Decrement the counter by 1.  counter-increment: pubs -1 ; /* -- */ align-items: flex-start ; display: flex ; margin: 20px 0px 20px 15px ; padding: 0px 0px 0px 0px ; }
      ul.pub li::before { content: "X2" ; /* -- */ background-color: #eaeaea ; border-radius: 5px 5px 5px 5px ; box-sizing: border-box ; margin-right: 10px ; min-width: 40px ; padding: 0px 5px 0px 5px ; text-align: center ; }
    </style>
    <ul class="pub">
    {% endunless %}
    {{ content }}
      </ul>
  </div>
</div>
